{% extends '_base.html' %}
{% block page_title %}
    Report
{% endblock %}

{% block content %}
    <div class="container">
            {# gender report tbl#}
            <table class="table table-bordered" style="width:30%" >
                <tr style="height:50px">
                    <th class="small" style="width:5%">ردیف</th>
                    <th class="small" style="width:20%">جنسیت</th>
                    <th class="small" style="width:10%">تعداد</th>
                </tr>
                <h5 class="small" align="right">تعداد افراد به تفکیک جنس</h5>
                {% for item in gender_items %}
                    <tr style="height:30px">
                        <td class="small">{{ item.row }}</td>
                        <td class="small">{{ item.gender }}</td>
                        <td class="small">{{ item.count }}</td>
                    </tr>
                {% endfor %}
            </table>
        {# educate report tbl#}
        <table class="table table-bordered" style="width:30%">
            <tr style="height:50px">
                <th class="small" style="width:5%">ردیف</th>
                <th class="small" style="width:20%">میزان تحصیلات</th>
                <th class="small" style="width:10%">تعداد</th>
            </tr>
            <h5 class="small" align="right">تعداد افراد به تفکیک تحصیلات</h5>
            {% for item in educate_items %}
                <tr style="height:30px">
                    <td class="small">{{ item.row }}</td>
                    <td class="small">{{ item.educate }}</td>
                    <td class="small">{{ item.count }}</td>
                </tr>
            {% endfor %}
        </table>

        {# economic report tbl#}
        <table class="table table-bordered" style="width:30%">
            <tr style="height:50px">
                <th class="small" style="width:5%">ردیف</th>
                <th class="small" style="width:20%">وضعیت اقتصادی</th>
                <th class="small" style="width:10%">تعداد</th>
            </tr>
            <h5 class="small" align="right">تعداد افراد به تفکیک وضعیت اقتصادی</h5>
            {% for item in economic_items %}
                <tr style="height:30px">
                    <td>{{ item.row }}</td>
                    <td>{{ item.economic }}</td>
                    <td>{{ item.count }}</td>
                </tr>
            {% endfor %}
        </table>

        {# status job report tbl#}
        <table class="table table-bordered" style="width:30%">
            <tr style="height:50px">
                <th class="small" style="width:5%">ردیف</th>
                <th class="small" style="width:20%">شغل</th>
                <th class="small" style="width:10%">تعداد</th>
            </tr>
            <h5 class="small" align="right">تعداد افراد به تفکیک شغل</h5>
            {% for item in status_job_items %}
                <tr style="height:30px">
                    <td>{{ item.row }}</td>
                    <td>{{ item.status_job }}</td>
                    <td>{{ item.count }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}


