{% extends '_base.html' %}
{% load i18n %}
{% block page_title %}
    جزئیات بیمار
{% endblock %}

{% block content %}
    <div class="container">
        <h5 align="right">مشخصات بیمار</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">نام</th>
                <th scope="col">نام خانوادگی</th>
                <th scope="col">کد ملی</th>
                <th scope="col">تاریح تولد</th>
                <th scope="col">جنسیت</th>
                <th scope="col">مدرک تحصیلی</th>
                <th scope="col">وضعیت اقتصادی</th>
                <th scope="col">وضعیت اشتغال</th>
                <th scope="col">تاریخ ایجاد پرونده</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ patient_detail.d_first_name }}</td>
                <td>{{ patient_detail.d_last_name }}</td>
                <td>{{ patient_detail.d_national_code }}</td>
                <td>{{ patient_detail.d_birthday }}</td>
                <td>{{ patient_detail.d_gender }}</td>
                <td>{{ patient_detail.d_educate_rate }}</td>
                <td>{{ patient_detail.d_economic_situation }}</td>
                <td>{{ patient_detail.d_status_job }}</td>
                <td>{{ patient_detail.d_datetime_created }}</td>
            </tr>
            </tbody>
        </table>

        {#<h5>اطلاعات سلامت</h5>#}
        <table class="table table-striped">
            <thead>
            <tr>
                {#        <th scope="col">سن</th>#}
                {#        <th scope="col">وزن</th>#}
                {#        <th scope="col">قد</th>#}
                {#        <th scope="col">نمایه توده بدنی</th>#}
                {#        <th scope="col">وضعیت بارداری</th>#}
                {#        <th scope="col">وضعیت شیردهی</th>#}
                {#        <th scope="col">سابقه مصرف دخانیات</th>#}
            </tr>
            </thead>
            <tbody>
            <tr>
                {#        <td>{{ health.age }}</td>#}
                {#        <td>{{ health.weight }}</td>#}
                {#        <td>{{ health.height }}</td>#}
                {#        <td>{{ health.BMI }}</td>#}
                {#        <td>{{ health.pregnancy_status }}</td>#}
                {#        <td>{{ health.breast_feeding_status }}</td>#}
                {#        <td>{{ health.smoking }}</td>#}
            </tr>
            </tbody>
        </table>

        <h5>شماره های تماس</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">تلفن منزل</th>
                <th scope="col">{% trans 'cellphone' %}</th>
                <th scope="col">فکس</th>
                <th scope="col">تلفن محل کار</th>
                <th scope="col">تلفن حامی</th>
                <th scope="col">تلفن پراکسی</th>
                <th scope="col">تلفن اضطراری</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ patient_detail.p_home_phone }}</td>
                <td>{{ patient_detail.p_cell_phone }}</td>
                <td>{{ patient_detail.p_fax }}</td>
                <td>{{ patient_detail.p_work_phone }}</td>
                <td>{{ patient_detail.p_cellular_phone }}</td>
                <td>{{ patient_detail.p_health_care_proxy_phone }}</td>
                <td>{{ patient_detail.p_emergency_phone }}</td>
            </tr>
            </tbody>
        </table>

        <h5>محل سکونت</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">کشور</th>
                <th scope="col">استان</th>
                <th scope="col">شهرستان</th>
                <th scope="col">روستا</th>
                <th scope="col">کدپستی</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ patient_detail.a_country }}</td>
                <td>{{ patient_detail.a_province }}</td>
                <td>{{ patient_detail.a_town }}</td>
                <td>{{ patient_detail.a_village }}</td>
                <td>{{ patient_detail.a_post_code }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{% url 'patientsListView' %}" align="right"> <input type="button" class="btn btn-primary"
                                                                     value="{% trans 'back' %}"> </a>
    </div>
{% endblock %}
